.background{
    width: 100%;
    height: 10em;
    margin-top: -10em;
}
.back_image{
    width: 100%;
    height: 120em;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
}
