.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0%,0%,0%,50% );
    color: white;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 5em;
    z-index: 1;
}
.btnNav{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.btnNav:hover{
    color: rgb(230, 224, 200);
}
ul {
    display: flex;
    list-style: none;
    gap: 1em;
}
.title{
    font-size: 2em;
    color: white;
    text-decoration: none;
}

  
